@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
 }

body {
    background-image: url(fundo.jpg);
    background-size: cover;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding: 25px;
  
}
     
main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #664e93;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

div {
    color: #664e93;
    text-align: center;
}

main.social-media {
    display: flex;
    align-content: center;
}

main .social-media a {
    text-decoration: none;
}

main .social-media img {
    width: 36px;
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0;
}


main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


main form input {
    background: #664e93;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 2rem;
    outline: none;
    color:white;
    font-size: 1.1rem;
    border: 1px solid #664e93;
    border-radius: 32px;
    cursor: pointer
}




